<% if notification.seen? %>
  <div>
    <%= notification.user.email %> <%= notification.action %> your comment!
  </div>
<% else %>
  <div>
    <strong>
      <%= notification.user.email %> <%= notification.action %> your comment!
    </strong>
  </div>
<% end %>
