<% if notification.seen? %>
  <div>
    <%= notification.user.email %> <%= notification.action %> review!
  </div>
<% else %>
  <div>
    <strong>
      <%= notification.user.email %> <%= notification.action %> review!
    </strong>
  </div>
<% end %>
