<div class="tab-pane" id="settings">
  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <h4><%= t "users.edit" %></h4>
    </div>
    <div class="panel-body">
      <%= render "form_edit_user" %>
    </div>
  </div>
  <%#= link_to t('.back', default: 'Back'), :back %>
</div>
