<% @user ||= current_user %>

<div class="stats">
  <div class="col-md-3">
    <div id="following">
      <%= @user.following.count %>
    </div>
    <%= link_to t("following"), relationships_path(id: @user, title: :following) %>
  </div>
  <div class="col-md-3">
    <div id="followers">
      <%= @user.followers.count %>
    </div>
    <%= link_to t("follower"), relationships_path(id: @user, title: :followers) %>
  </div>
</div>
