<div class="col-md-3">
  <div class="card">
    <div class="container">
      <div class="book-image"><%= book_image book %></div>
      <h5><b><%= link_to book.title.truncate(Settings.book_title), book %></b></h5>
      <p><%= book.author %></p>
    </div>
  </div>
</div>
