<%= form_for @favorite_book, html: {method: :post}, remote: true do |f| %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <span class="glyphicon glyphicon-heart glyphicon-fix">
    <%= f.submit "", class: "favorite" %>
  </span>
<% end %>
