.td-categories-show {
  background-image: url('category-background.png');
  background-size: cover;
  min-width: 1170px;

  .img-book {
    height: 215px;
  }

  .image-book-award {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
  }

  .td-best-book {
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 40px;
    border-bottom: 1px solid #DFDFDF;

    h1 {
      margin-top: 40px;
      margin-bottom: 10px;
      color: #D3A52E;
    }

    .gcaDivider {
      background-image: url('flourish-bg.png');
      height: 18px;
      margin: 0;
      .gcaDivider__centerpiece {
        background-image: url('flourish-centerpiece.png');
        height: 18px;
        margin: 0 auto;
        width: 130px;
      }
    }

    .show-best-book {
      padding-top: 20px;

      .book-title {
        h3 {
          font-weight: 600;
          margin: 10px 0  0 0 !important;
          text-transform: capitalize;
        }

        a {
          color: #B80F28;
          &:hover {
            text-decoration: none;
          }
        }

        .best-book-author {
          font-style: italic;
          span {
            font-style: normal;
            color: #B80F28;
          }
        }
      }
    }

    .gcaSideFlourish {
      bottom: -32px;
      position: absolute;
      height: 20px;
      width: 70px;
    }

    .gcaSideFlourish--left {
      background-image: url('flourish-left.png');
      left: -8px;
    }

    .gcaSideFlourish--right {
      background-image: url('flourish-right.png');
      right: -8px;
    }
  }

  .td-show-category-content {
    background: #FFF;
  }

  .td-list-categories {
    padding: 0 !important;

    li {
      list-style: none;
      padding: 10px;
      width: 100%;
      padding-right: 30px;
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;

      .view-result {
        font-weight: 400;
        font-size: 13px;
      }

      p {
        margin-bottom: 0;
      }

    }

    .active {
      background: red;
      background: -webkit-linear-gradient(left, transparent , #FFF);
      background: -o-linear-gradient(right, transparent, #FFF);
      background: -moz-linear-gradient(right, transparent, #FFF);
      background: linear-gradient(to right, transparent , #FFF);
    }
  }

  .book-rate {
    color: #683205;
    display: block;
    padding: 5px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
  }

  .book-image {
    margin-bottom: 20px;
  }

  .book-show-category {
    margin-bottom: 30px;
  }

  .book {
    .td-list-book-title {
      text-align: left;
      color: #8e8379;
      font-family: "Merriweather", "Georgia", serif;
      font-style: italic;
      font-weight: 600;
      font-size: 25px;

      span {
        font-size: 22px;
        font-weight: 400;
      }
    }
  }
}
