@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

#head {
  color: white;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.td-review-book-image {
  margin-top: 30px !important;

  img {
    max-height: 300px;
  }
}

.td-home {
  a:hover {
    text-decoration: none !important;
  }

  .title {
    h2 {
      display: block;
      height: 35px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 !important;
    }

    p {
      display: block;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 !important;
    }
  }
}

.td-home-box {
  display: block !important;
  padding: 30px 0 0 0 !important;

  .td-sidebar {
    margin: 0 !important;
  }
}

.mini-post {
  h3 {
    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.post {
  padding-top: 0 !important;

  header {
    display: block !important;
    margin: 0 !important;

    .title {
      padding-top: 50px !important;
      padding-bottom: 0 !important;
      border-right: 1px solid rgba(160,160,160,.3);
    }

    .meta {
      padding: 40px 0 0 0 !important;
      border: none !important;
      text-align: center !important;
    }
  }
}

.author {
  span, img {
    margin: 0 auto;
  }
}

.published {
  span {
    float: right;
    font-style: italic;
  }
}

.header {
  height: 60px;

  a {
    border: none;
    height: 60px;
  }

  nav {
    a {
      padding-top: 20px !important;
    }
  }
}
