@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

#head {
  color: white;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;footer
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.td-review-book-image {
  margin-top: 30px !important;

  img {
    max-height: 300px;
  }
}

.title {
  a:hover {
    text-decoration: none;
  }
}

.td-home {
  a:hover {
    text-decoration: none !important;
  }

  .title {
    h2 {
      display: block;
      height: 35px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 !important;
    }

    p {
      display: block;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 !important;
    }
  }
}

.td-home-box {
  display: block !important;
  padding: 30px 0 0 0 !important;

  .td-sidebar {
    margin: 0 !important;
    padding-right: 30px !important;
  }
}

.mini-post {
  h3 {
    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.post {
  padding-top: 0 !important;

  header {
    display: block !important;
    margin: 0 !important;

    .title {
      padding-top: 50px !important;
      padding-bottom: 0 !important;
      border-right: 1px solid rgba(160,160,160,.3);
    }

    .meta {
      padding: 40px 0 0 0 !important;
      border: none !important;
      text-align: center !important;
    }
  }
}

.author {
  span, img {
    margin: 0 auto;
  }
}

.published {
  span {
    float: right;
    font-style: italic;
  }
}

.header {
  height: 60px;

  a {
    border: none;
    height: 60px;
  }

  li {
    border: none;
    height: 60px;
  }

  nav {
    a {
      padding-top: 20px;
    }
  }

}
.td-fix-devise {
  margin-top: 20px !important;
}

.td-css-box {
  -webkit-text-size-adjust: none;
  -ms-overflow-style: scrollbar;
  background: #f4f4f4;
  padding: 10px 15px;
}

.td-img-book-popular {
  img {
    height: 200px;
  }
}

.home-page {
  .review {
    background: #f3f3f3;
    box-shadow: 2px 2px 5px #D9D9D9;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px !important;
  }
}

.inline-block {
  display: inline-block !important;
}

.td-user-review-title {
  padding-left: 75px;
  padding-top: 10px;

  .user-info-review {
    width: 100%;
  }

  .td-home-user-review {
    left: 10px;
    position: absolute;
    top: -5px;

    img {
      height: 50px;
      width: 50px;
    }
  }

  .time-create-review {
    font-style: italic;
  }
}

.td-right-nav-content {
  .book-status {
    margin-top: 30px;
  }
}

.float-right {
  float: right;
}

.td-user-review-content {
  padding-top: 20px;

  .review-book-image {
    height: 215px;
  }

  hr {
    border-color: #909090 !important;
  }

  .td-user-review-content-right {
    h3 {
      color: #000;
      font-weight: 600;
      margin: 0 !important;

      a {
        color: #333;
      }
    }

    i {
      display: block;
      margin-bottom: 10px;
    }

    .book-review-change {
      margin-bottom: 20px;
      width: 50%;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.height-100 {
  img {
    height: 100px !important;
    margin: 0 !important;
    padding: 0 5px;
  }
}

.td-home-footer {
  ul {
    padding: 0 !important;

    li {
      list-style: none;
    }

    a {
      color: #8a8a8a;
      font-weight: 600;
    }

    a:hover {
      text-decoration: none;
      color: #333;
    }

    .td-mobile {
      margin-top: 20px;
    }

    .td-copyright {
      a {
        font-style: italic;
        font-weight: 400 !important;
      }
    }
  }
}

.padding-50 {
  padding-top: 50px;
}

.full-height {
  height: 100%;

  a {
    display: block;

    img {
      width: 35px;
      height: 25px;
    }
  }
}

.book_search {
  padding-top: 20px;

  p.inline-block {
    width: 100%;
  }

  .field {
    width: 70%;
    margin: 0 auto;

    select, input {
      width: 100%;
      height: 30px;
    }

    .actions {
      height: 30px;

      button {
        height: 30px;
        padding: 4px 12px !important;
      }
    }
  }
}

.home-list-category {
  padding-left: 0 !important;


  a {
    color: #333;
    font-weight: 400;

    li {
      list-style: none;
      padding: 5px 0;
      background: #bdbdbd;
      margin-bottom: 10px;
      height: 30px;
      position: relative;
    }

    &:hover {
      text-decoration: none;
    }
  }

  li:before {
    content: "";
    display: block;
    width: 15px;
    height: 30px;
    background: #bdbdbd;
    position: absolute;
    left: -15px;
    top: 5px;
  }

  li:after {
    content: "";
    display: block;
    width: 15px;
    height: 30px;
    background: #bdbdbd;
    position: absolute;
    right: -15px;
    top: 5px;
  }
}

.td-right-nav-footer {
  h3 {
    a {
      font-size: 18px;
      float: right;
      margin-top: 5px;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.reviews {
  .book {
    p.title {
      margin: 0;
    }
  }
}
