<% provide :title, t("review") %>
<% provide :button_text, t("user.reviews.button_save") %>

<div class="container">
  <h3><%= link_to @book.title, @book %><%= t "user.reviews.edit" %></h3>
  <div class="col-md-8">
    <%= render "form_review" %>
  </div>
</div>
